
body
{
    background-color: #CCD5FF;
    overflow-x: hidden;
}


.left1-h {
    width: 50%;
    left: 5px;
}
left-h {
    width: 50%;
    left: 5px;
}



.left-m {
    width: 20%;
    padding-left: 9px;
}
.column {
    float: left;
    padding: 10px;
    height: auto;
}
.dropbtn1 {
    background-color: #08699b;
    color: white;
    padding: 2px;
    width: 100%;
    font-size: 14px;
    border: 4px;
    text-align: left;
    
}
.dropbtn1:hover {
    background-color: #aa0603;
    color: white;
    padding: 7px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    width:100%;
    font-size: 14px;
    border: 4px;
    
}
.dropbtn {
    background-color: #08699b;
    color: white;
    padding: 6px;
    font-size: 14px;
    border: none;
}
.middle1
{
    width:70%;
   
}
.right1
{
    width: 30%;
}
p
{
    color: #A16139;
    margin: 0 0 10px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
}
.btn {
    background-color:#3f3f44;
    border: none;
    color:white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
  }
  .btn:hover {
    background-color:#08699b;
  }
  .fa {
    padding-right: 9px;
}